
#r{
  width: 250%;
}
#p{
  float: center;
}
#demo{
  float: left;
  padding-top: %;
  padding-left: 5%;
}
#am
{
  
  padding-left: 10%;

}
#pm
{
  float: center;
  padding-right: 35%;

}
#cm
{
  float: center;
padding-left: 15%;
}
#c1
{
  margin-top: 5px;

}
#c2
{
  margin-top: 20px;
}
#c3
{
  margin-top: 20px;
}
#myCarousel1
{

 height:40%;
 width: 40%;
margin-top: 5px;
 left:35%;
}

#myCarousel2
{

height:40%;
width: 40%; 
left:35%;
 
}
#myCarousel3
{
height:40%;
width: 40%;
left:35%;
}
.dropdown-menu
{
  min-width:500px;
  min-height:200px;
}

.dropdown-menu li a
{
  padding: 10px 15px;
}

.multi-column-dropdown
{
  list-style: none;
  margin:0px;
  padding:0px;
  color: #000;
}
.multi-column-dropdown li a
{
  display: block;
  clear: both;
  color:#479;
  white-space: normal;

}

.multi-column-dropdown li a:hover{
  text-decoration:none;
  color:#245636;
  background-color: #FFDB85;
}